<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True"/>
		<add key="automatic" value="True"/>
	</packageRestore>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
		<add key="Syncfusion UWP Package 16.2.0.41" value="http://nuget.syncfusion.com/nuget_universalwindows/nuget/getsyncfusionpackages/universalwindows"/><add key="Syncfusion UWP Samples Package 16.2.0.41" value="http://nuget.syncfusion.com/nuget_uwpsb/nuget/getsyncfusionpackages/uwpsb"/></packageSources>
	<activePackageSource>
		<add key="Syncfusion UWP Package 16.2.0.41" value="http://nuget.syncfusion.com/nuget_universalwindows/nuget/getsyncfusionpackages/universalwindows"/><add key="Syncfusion UWP Samples Package 16.2.0.41" value="http://nuget.syncfusion.com/nuget_uwpsb/nuget/getsyncfusionpackages/uwpsb"/></activePackageSource>
	<bindingRedirects>
		<add key="skip" value="False"/>
	</bindingRedirects>
</configuration>
